<!doctype html>
<html>
  <head>
    <title>Iterate Dasswerk</title>
    <style type="text/css">
      html, body {
        background: #F51E50;
      }
    </style>
  </head>
  <body>
    <%- body -%>
  </body>
</html>
