<% layout('base') %>

<header class="info">
  <hgroup class="about">
    <h1>Ææsj...! Er DET lov å tegne??</h1>
    <div class="menu">
      <button class="menu-btn" id="clear">Tørk!</button>
      <button class="menu-btn" id="done">Feeeerdig!</button>
    </div>
  </hgroup>
</header>

<div id="container"></div>

<script src="js/sketch.min.js"></script>
<script src="js/dasswerk.js"></script>
